.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}
.sm-format,
.md-format,
.lg-format,
.xl-format {
  width: 60%;
  margin-left: 20%;
}

#identification-page {
  position: absolute;
  height: 100%; // less height of toolbar
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  // background-image: radial-gradient(circle, rgba(96,182,178,1) 0%, rgba(86,189,190,1) 49%, rgba(24,121,121,1) 100%);
background-image: radial-gradient(circle, rgb(26, 97, 93) 0%, rgb(55, 138, 138) 49%, rgba(0,93,93,1) 100%);
  // background-image: url("https://www.elsetge.cat/myimg/f/11-115406_wide-hd-gray.jpg");

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .back-column {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 100%;
    background-color: grey;
  }

  .mini-toolbar {
    border-bottom-style: none;
    border-color: rgb(121, 121, 121);
    border-width: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(255, 255, 255, 0.801);

    .mini-toolbar_title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      color: rgb(56, 56, 56);
    }
  }

  .stepper {
    background-color: rgba(255, 255, 255, 0.801);
    height: 95%;
    border-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .v-stepper__content {
      height: max-content !important;
    }

    .progress-linear {
      position: absolute;
      bottom: 0px !important;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  // DEFAULT STEP STRUCTURE
  .step-content {
    display: flex;
    height: 100%;
    padding: 20px;

    .left_content-box {
      position: relative;
      width: 300px;
      min-width: 300px;
      margin-right: 40px;

      .fields {
        margin-top: 20px;
        padding-bottom: 0px;
        padding-top: 0px;

        .custom-text-area {
          margin-top: 20px;
        }
      }
    }

    .right_content-box {
      position: relative;
      width: 100% !important;
      min-width: 300px;
      height: 100%;

      .content-box {
        margin-top: 20px;
      }
    }
  }

  // STEP 1 - Identification
  .identify {
    position: relative;
    // left: -10px;
    // visibility: hidden;
    display: flex;
    padding: 10px;  

    .service-number {
      position: relative;
      width: 100px;
    }
    .reception-date {
      position: relative;
      margin-left: 10px;
    }
  }
  
  .notes-box {
    width: 100%;
    height: 100px;
    display: flex;
    .damage {
      width: 45%;
      height: 50px;
      margin: auto;
    }
    .notes {
      width: 45%;
      height: 50px;
      margin: auto;
    }
  }
  .orders-box {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px;

    .search-box {
      position: absolute;
      z-index: 1;
      top: 20px;
      display: flex;
      margin-top: 10px;
      right: -30px !important;

      .select {
        position: relative;
        width: 100px;
        padding-top: 8px;
        margin-right: 20px;
      }
      .field {
        position: relative;
        width: calc(100% - 150px);
        .v-icon {
          color: green;
        }
      }
    }

    .table-box {
      position: relative;
      width: 100% !important;
      height: 415px !important;
      // background-color: rgba(255, 255, 255, 0.465);
      text-align: center;
      top: 110px;
      .header-table {
        right: 0px;
        float: right;
      }
      .no-orders {
        font-size: 20px;
        color: grey;
        opacity: 0.8;
        margin-top: 100px;
        .v-icon {
          color: grey;
          font-size: 80px;
        }
      }
      .orders-table {
        background-color: rgba(230, 230, 230, 0) !important;
        border-radius: 20px;
        height: 100%;
        margin-right: 20px;
        padding-top: 10px;
        .v-data-table__selected {
          background: rgba(101, 187, 187, 0.315) 49% !important;
        }
        .text-start {
          .checkbox-marked {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }

  // STEP 2 REPAIR
  .select-status {
    .v-input__slot {
      min-height: 40px !important;
    }
  }

  // STEP 3 ENTERPRISE
  .image-box {
    position: relative;
    text-align: center;
    .btn-camera {
      width: 250px;
      height: 100px;
      border-radius: 10px;
      .text-btn {
        z-index: 1;
      }
      .v-icon {
        position: absolute;
        font-size: 100px;
        color: rgba(197, 197, 197, 0.5);
      }
    }
    .file-btn {
      width: 270px;
      margin-bottom: 20px !important;
    }
    .img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
    }
  }

  // STEP 3, 4 INVOICE
  .content-doc {
    position: relative;
    margin: auto;
    width: 100%;
    height: 600px;
    overflow-x: scroll;
    text-align: center !important;

    .invoice-box {
      position: relative;
      width: calc(595px * 2) !important;
      height: calc(842px * 2) !important;
      background-color: white;
      margin: auto;
    }
  }

  // STEP 5 ANALYTICS
  .content-analytics {
    text-align: center;
    .result-box {
      font-size: 20px;
      color: grey;
      opacity: 0.8;
      margin-top: 100px;
      .v-icon {
        color: grey;
        font-size: 80px;
      }
    }
  }
}
