.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}
.sm-format,
.md-format,
.lg-format,
.xl-format {
  width: 60%;
  margin-left: 20%;
}

#identification-page {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .mini-toolbar {
    border-bottom-style: none;
    border-width: 2px;
    border-radius: 15px;
    margin-bottom: 20px !important;
    // background-color: rgba(255, 255, 255, 0.027);
    box-shadow: 0px 2px 2px black;

    .mini-toolbar_title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      color: rgb(56, 56, 56);
    }
  }

  .stepper {
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.027);
    height: 90%;
    border-radius: 15px;
    // border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    // box-shadow: none !important;
    box-shadow: 0px 2px 2px black;

    .v-stepper__content {
      height: max-content !important;
    }

    .progress-linear {
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: 0px !important;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  // DEFAULT STEP STRUCTURE
  .step-content {
    display: flex;
    height: 100%;

    .left_content-box {
      position: relative;
      width: 300px;
      min-width: 300px;
      margin-right: 80px;

      .fields {
        // margin-top: 20px;
        padding-bottom: 0px;
        padding-top: 0px;

        .custom-text-area {
          margin-top: 20px;
        }
      }
    }
    .right_content-box {
      position: relative;
      width: 100% !important;
      min-width: 300px;
      height: 100%;

      .content-box {
        margin-top: 20px;
      }
    }
  }

  // STEP 1 - Identification
  .identify {
    position: relative;
    display: flex;
    padding-top: 20px;
    .service-number {
      position: relative;
      width: 100px;
    }
    .reception-date {
      position: relative;
      margin-left: 10px;
    }
  }

  .notes-box {
    width: 100%;
    height: 100px;
    display: flex;
    .damage {
      width: 45%;
      height: 50px;
      margin: auto;
    }
    .notes {
      width: 45%;
      height: 50px;
      margin: auto;
    }
  }
  .orders-box {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px;

    .search-box {
      position: absolute;
      width: 400px;
      z-index: 1;
      top: 30px;
      display: flex;
      margin-top: 10px;
      .select {
        position: relative;
        width: 100px;
        padding-top: 8px;
        margin-right: 20px;
      }
      .field {
        position: relative;
        width: calc(100% - 150px);
        .v-icon {
          color: rgb(29, 211, 29);
        }
      }
    }

    .table-header {
      position: relative;
      width: 100% !important;
      // height: 40px !important;
      top: 70px;
      padding-left: calc(20px + 5%);
      padding-right: calc(32px + 5%);

      .headers {
        position: relative;
        width: 100%;
        // background-color: #525252;
        display: flex;
        .header_table-text {
          color: rgb(182, 182, 182);
          font-size: 14px;
          margin-top: 10px;
          text-align: center;
        }
      }
    }

    .table-box {
      position: relative;
      top: 62px;
      width: 100% !important;
      height: 500px !important;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.027);
      overflow-y: scroll;
      padding: 10px;
      border-radius: 15px;

      // TABLE
      .order {
        position: relative;
        margin: auto;
        margin-bottom: 10px;
        width: 100%;
        height: 60px;
        background-color: #525252;
        border-radius: 15px;
        display: flex;

        .left-box {
          position: relative;
          width: 5%;
          height: 100%;
          // background-color: green;
          .icon {
            position: relative;
            top: 30%;
          }
        }
        .content-box {
          position: relative;
          width: 90%;
          height: 100%;
          margin-top: 10px;

          .header_table-text {
            color: rgb(19, 19, 19);
            font-size: 14px;
          }
          .item_table-text {
            color: white;
            font-size: 14px;
            margin-top: 10px;
            text-transform: none;
          }
          .icon {
            position: absolute;
            top: 5px;
            margin: auto;
          }
        }
        .right-box {
          position: relative;
          width: 5%;
          height: 100%;
          // background-color: green;
          .icon {
            position: relative;
            top: 30%;
          }
        }
      }
      // /TABLE

      .orders-table {
        background-color: rgba(230, 230, 230, 0) !important;
        border-radius: 20px;
        height: 100%;
        padding-top: 10px;
        .v-data-table__selected {
          background: rgba(101, 187, 187, 0.315) 49% !important;
        }
        .text-start {
          .checkbox-marked {
            width: 10px;
            height: 10px;
          }
        }
      }

      .header-table {
        right: 0px;
        float: right;
      }
      .no-orders {
        font-size: 20px;
        color: grey;
        opacity: 0.8;
        margin-top: 100px;
        .v-icon {
          color: grey;
          font-size: 80px;
        }
      }
    }
  }

  // STEP 2 REPAIR
  .select-status {
    .v-input__icon {
      position: absolute;
      visibility: hidden;
    }
    .v-input__slot {
      min-height: 40px !important;
    }
    .chip {
      width: 100%;
      margin: auto;
    }
  }

  // STEP 3 ENTERPRISE
  .image-box {
    position: relative;
    text-align: center;
    .btn-camera {
      width: 250px;
      height: 100px;
      border-radius: 10px;
      .text-btn {
        z-index: 1;
      }
      .v-icon {
        position: absolute;
        font-size: 100px;
        color: rgba(197, 197, 197, 0.5);
      }
    }
    .file-btn {
      width: 270px;
      margin-bottom: 20px !important;
    }
    .img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
    }
  }

  // STEP 3, 4 INVOICE
  .content-doc {
    position: relative;
    margin: auto;
    width: 100%;
    height: 600px;
    overflow-x: scroll;
    text-align: center !important;

    .invoice-box {
      position: relative;
      width: calc(595px * 2) !important;
      height: calc(842px * 2) !important;
      background-color: white;
      margin: auto;
    }
  }

  // STEP 5 ANALYTICS
  .content-analytics {
    margin: auto;
    width: max-content;
    position: relative;
    // text-align: center;
    // background-color: grey;
    margin-top: -58px;

    .result-box {
      font-size: 20px;
      color: grey;
      opacity: 0.8;
      margin-top: 100px;
      .v-icon {
        color: grey;
        font-size: 80px;
      }
      .result-text {
        color: white;
      }
    }
  }
}
