.mini-toolbar {
  height: max-content !important;
  display: flex;

  .toolbar-items {
    padding: 5px;
  }

  .v-btn {
    text-transform: none !important;
  }
  .v-icon {
    margin-right: 10px;
  }

  .right-box {
    position: absolute;
    top: 35px;
    right: 45px;
    // background-color: rgba(148, 32, 32, 0.651);
  }
}
