.mini-toolbar {  
  .v-btn {
    text-transform: none !important;
  }
  .v-icon {
    margin-right: 10px;
  }

  .right-box {
    position: absolute;
    top: 10px;
    right: 16px;
  }
}