//GLOBAL FONTS
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.cyber_manager-title {
  font-family: titling-gothic-fb-extended, sans-serif;
  color: rgb(19, 19, 19);
  font-weight: 300;
  font-size: 2ch;
  text-transform: none;
}

.font-text {
  font-family: "Inter beta", sans-serif;
  color: #303030d5;
  font-weight: 300;
  text-transform: none;
  box-shadow: 1px, 3px #ffffff4f;
}

.font-error {
  font-family: "Inter beta", sans-serif;
  color: #ff7a7ad5;
  font-weight: 300;
  text-transform: none;
  box-shadow: 1px, 3px #ffffff4f;
}

.cyber_manager-text_field {
  margin-bottom: 20px;
  ::selection {
    background-color: #d3d3d3 !important;
    color: rgb(0, 0, 0) !important;
  }
  .primary--text {
    color: #135c17 !important;
  }
  .v-input__slot:before,
  :after {
    visibility: hidden;
  }
  .v-text-field__slot {
    background-color: #222222;
    border-radius: 20px;
    label {
      top: 3px;
      margin-left: 20px;
    }
    label.v-label--active {
      top: 0px;
      padding-bottom: 40px !important;
    }
  }
  input {
    margin-left: 20px;
    padding: 4px 0 4px !important;
    color: rgb(24, 24, 24);
  }
  .text-field__internal-btn {
    top: -10px;
  }
  .v-messages__message {
    margin-left: 20px;
  }
}
