.field {
  .v-input__slot {
    min-height: 40px !important;
  }
  .insert_date-btn {
    position: absolute;
    right: 4px;
    bottom: 2px;
  }
  
  .insert_date-btn::before {
    top: 4px;
    height: 28px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
