
.field {
  .v-label {
    top: 10px !important;
  }
  .v-input__slot {
    min-height: 40px !important;
    // top: 10px !important;
  }
  .insert_date-btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}
