.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}

.sm-format,
.md-format,
.lg-format,
.xl-format {
  width: 60%;
  margin-left: 20%;
}

#home-page {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;

  .stepper {
    position: relative;
    width: 100%;
    height: 100%;
   
    background: linear-gradient(
      90deg,
      rgb(244, 252, 255) 0%,
      rgb(0, 137, 190) 96%
    );
    background-size: 140%;

    .v-stepper__items {
      height: 100% !important;
      .v-stepper__content {
        height: 100% !important;
        .v-stepper__wrapper {
          height: 100% !important;
        }
      }
    }
  }

  .box-access {
    position: relative;
    width: 400px;
    top: 100px;
    padding: 30px;
    padding-top: 30px;
    margin: auto;
    border-radius: 4px;
    background-color: white;

    .title {
      margin: 20px;
    }

    .footer {
      position: relative;
      width: 100%;
      margin-top: 20px;
    }

    .signup-button {
      position: relative;
      width: 100%;
      height: 60px;
      margin-top: 40px;
    }
  }
}
